/* Make multiple css files */
/* Make comments */
@import url('https://fonts.googleapis.com/css2?family=Poppins:200,,300,400,500,600,700,800,900&display=swap');


*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* placed in body?*/
  font-family:'Poppins', sans-serif;
}

.container
{
  position: relative;
  width: 100%;
  height: 100vh;
  background: black; /* Taken away ? */
  overflow: hidden;
}

.tabs input:not(#calc)
{
  visibility: hidden; /* Taken away ?*/
  display: none;
}

.tabs .Login input
{
  visibility: visible !important;
  display: block !important;
}

.buttons
{
  display: flex;
  position: absolute;
  bottom: 15px; /* Changed */
  left: 50%; /* Changed ?*/
  transform: translateX(-50%);
  gap:10px; /* Changed, maybe margin? */
  z-index: 10;
}

/* Change these properties */
.buttons label
{
  background: #fff;
  margin: 20px;
  width: 20px;
  height: 20px;
  opacity: 0.5;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}

/* Modify this at my sauce, change color and make id's in html as #first:checked */
.tabs #web:checked ~ .buttons label[for="web"],
.tabs #graphics:checked ~ .buttons label[for="graphics"],
.tabs #photography:checked ~ .buttons label[for="photography"]
{
  opacity: 1;
  scale: 2;
}

.content
{
  display: flex;
  position: relative;
  width: 300vw;
  transition: 0.5s;
}


.content .Calculator-Section,
.content .Others
{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  user-select: none; /* Check this */
  width: 100vw;
  height: 100vh;
  padding: 40px; /* Maybe change this */
}

.content .Login
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  transition: 0.5s;
  background: #4fc3dc;
}

.content .Login.active
{
  background: #6dee0a;
}

.LoginSystem
{
  position: relative;
  width: 800px;
  height: 500px;
  margin:20px;
}

.blueBg
{
  position: absolute;
  top: 40px;
  width: 100%;
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 45px rgba(0,0,0,0.15);
}

.blueBg .box 
{
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blueBg .box h2
{
  color: #fff;
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 10px;
}

.blueBg .box button
{
  cursor: pointer;
  padding: 10px 20px;
  background: #fff;
  color: #333;
  font-size: 16px;
  font-weight: 500;
  border: none;
}

.formBx
{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #fff;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 45px rgba(0,0,0,0.25);
  transition: 0.5s ease-in-out;
  overflow: hidden;
}

.formBx.active
{
  left: 50%;
}

.formBx .form
{
  position: absolute;
  left: 0;
  width: 100%;
  padding: 50px;
  transition: 0.5s;
}

.formBx .signinform
{
  transition-delay: 0.25s;
} 

.formBx.active .signinform
{
  left: -100%;
  transition-delay: 0s;
}

.formBx .signupform
{
  left: 100%;
  transition-delay: 0s;
}

.formBx.active .signupform
{
  left: 0;
  transition-delay: 0.25s;
}

.formBx .form form
{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.formBx .form form h3
{
  font-size: 1.5em;
  color: #333;
  margin-bottom: 20px;
  font-weight: 500;
}

.formBx .form form input
{
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  outline: none;
  font-size: 16px;
  border: 1px solid #333;
} 

.formBx .form form input[type="submit"]
{
  background: #4fc3dc;
  border: none;
  color: white;
  max-width: 100px;
  cursor: pointer;
}

.formBx.active .signupform input[type="submit"]
{
  background: #6dee0a;
}

.bubbles
{
  position: absolute;
  display:flex;
  user-select: none; /* Check this */
  height: 100vh;
}

.bubbles span
{
  position: relative;
  width: 60px;
  height:60px;
  background: #4fc3dc;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44,
  0 0 50px #4fc3dc,
  0 0 100px #4fc3dc;
  animation: animate 15s linear infinite;
  animation-duration: calc(125s / var(--i));
}

.bubbles span:nth-child(even)
{
  background: #6dee0a;
  box-shadow: 0 0 0 10px #6dee0a44,
  0 0 50px #6dee0a,
  0 0 100px #6dee0a;
}

@keyframes animate {
  0%
  {
    transform: translateY(100vh) scale(0);
  }
  100%
  {
    transform: translateY(-10vh) scale(1);
  }
}

/* Modify this part for the background and change names of divs elements in html*/
.content .Calculator-Section
{
  background: #0c192c;
}
.content .Others
{
  background: linear-gradient(90deg, purple, black);
}

/* Modify this part with the new html id's name */
.tabs #web:checked ~ .content
{
  left: 0;
}
.tabs #graphics:checked ~ .content
{
  left: -100vw;
}
.tabs #photography:checked ~ .content
{
  left: -200vw;
}

.Calculator
{
  z-index: 0;
  border: 1px solid #717377;
  padding: 20px;
  border-radius: 16px;
  background: linear-gradient(45deg, #0a0a0a, #3a4452);
  box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
  margin-bottom: 50px;
}

#calc
{
  width: 320px;
  border: none;
  padding: 24px;
  margin: 10px;
  background: transparent;
  font-size: 40px;
  text-align: right;
  cursor: pointer;
  color: #ffffff;
}

#calc::placeholder
{
  color: #ffffff;
}

.Calculator button
{
  border: none;
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 50%;
  background: transparent;
  color: #ffffff;
  font-size: 20px;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.equalBtn{
  background-color: #4fc3dc !important;
}

.operator{
  color: #6dee0a !important;
}

.wrong, .invalid, .already
{
  color: red !important;
  font-weight: bold !important;
  font-size: 50px !important;
}

/* Responsive */


/*
@media (max-width: 991px) 
{
  .container
  {
    max-width: 400px;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container .blueBg
  {
    top: 0;
    height: 100%;
  }

  .formBx
  {
    width: 100%;
    height: 500px;
    top: 0;
    box-shadow: none;
  }

  .blueBg .box
  {
    position: absolute;
    width: 100%;
    height: 150px;
    bottom: 0;
  }

  .box.signin
  {
    top: 0;
  }

  .formBx.active 
  {
    left:0;
    top:150px;
  }
}
*/